#!/usr/bin/env bash

PREPEND_PATH="${PWD}/docker/bin"
for BINDIR in $(/usr/bin/find docker/containers/ -maxdepth 2 -name bin -type d -not -path "docker/containers/_*"); do
  PREPEND_PATH="${PREPEND_PATH}:${PWD}/${BINDIR}"
done
PATH_add "${PREPEND_PATH}"

source docker/config/environment
if [ -f docker/config/environment.local ]; then
  source docker/config/environment.local
fi
export PROJECT_DIR=$PWD
export PROJECT_NAME
export PROJECT_NAME_FOR_PS1="(${PROJECT_NAME}) "
